@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  display: contents;
}

body,html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI Variable Display,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
  background-color: var(--background-white-main);
  color: var(--text-primary)
}

.clickable {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
