:root {
    --text-primary: #34322d;
    --text-secondary: #535350;
    --text-tertiary: #858481;
    --text-disable: #b9b9b7;
    --text-brand: #0081f2;
    --text-onblack: #fff;
    --text-white: #fff;
    --text-white-tsp: #ffffff99;
    --theme-text-primary: #262626;
    --logo-color: #34322d;
    --background-gray-main: #f8f8f7;
    --background-white-main: #fff;
    --background-menu-white: #fff;
    --background-tsp-menu-white: #ffffff14;
    --background-tsp-card-gray: #37352f0a;
    --background-nav: #ebebeb;
    --background-card: #fff;
    --background-mask: #000000a6;
    --border-main: #0000000f;
    --border-white: #ffffff0a;
    --border-btn-main: #0000001f;
    --border-input-active: #0081f280;
    --border-light: #0000000a;
    --border-dark: #0000001f;
    --icon-primary: #34322d;
    --icon-secondary: #535350;
    --icon-tertiary: #858481;
    --icon-disable: #b9b9b7;
    --icon-brand: #0081f2;
    --icon-onblack: #fff;
    --icon-white: #fff;
    --icon-white-tsp: #ffffff99;
    --function-error: #f25a5a;
    --function-success: #25ba3b;
    --function-warning: #efa201;
    --function-error-tsp: #f25a5a14;
    --function-warning-tsp: #efa2011f;
    --fill-blue: #0081f214;
    --fill-tsp-white-main: #37352f0f;
    --fill-tsp-white-dark: #37352f14;
    --fill-tsp-white-light: #37352f0a;
    --fill-tsp-gray-dark: #37352f14;
    --fill-tsp-gray-main: #37352f0a;
    --fill-input-chat: #fff;
    --fill-white: #fff;
    --fill-black: #28282973;
    --Button-primary-black: #1a1a19;
    --Button-primary-white: #fff;
    --Button-primary-brand: #0081f2;
    --Button-secondary-brand: #0081f21a;
    --Button-secondary-error-border: #f25a5a80;
    --Button-secondary-error-fill: #fff;
    --Button-secondary-main: #fff;
    --Button-secondary-gray: #37352f0f;
    --tab-fill: rgba(0,0,0,.004);
    --tab-active-black: #1a1a19;
    --shadow-L: #0000003d;
    --shadow-M: #0000001f;
    --shadow-S: #00000014;
    --shadow-XS: #0000000f;
    --Tooltips-main: #000000e6;
    --gradual-white-0: #ffffff00;
    --gradual-gray-100: #ffffff00;
    --gradual-gray-0: #ffffff00;
    --gradual-dark-20: #00000033
}

.dark {
    --text-primary: #dadada;
    --text-secondary: #acacac;
    --text-tertiary: #7f7f7f;
    --text-disable: #5f5f5f;
    --text-brand: #1a93fe;
    --text-onblack: #000000e6;
    --text-white: #fff;
    --text-white-tsp: #ffffff99;
    --theme-text-primary: #dbdbdb;
    --logo-color: #dadada;
    --background-gray-main: #272728;
    --background-white-main: #161618;
    --background-menu-white: #383739;
    --background-tsp-menu-white: #ffffff0f;
    --background-tsp-card-gray: #ffffff0f;
    --background-nav: #212122;
    --background-card: #444345;
    --background-mask: #000000a6;
    --border-main: #ffffff14;
    --border-white: #ffffff0a;
    --border-btn-main: #ffffff1a;
    --border-input-active: #1a93fe80;
    --border-light: #ffffff0f;
    --border-dark: #ffffff29;
    --icon-primary: #dadada;
    --icon-secondary: #acacac;
    --icon-tertiary: #7f7f7f;
    --icon-disable: #5f5f5f;
    --icon-brand: #1a93fe;
    --icon-onblack: #000000d9;
    --icon-white: #fff;
    --icon-white-tsp: #ffffff99;
    --function-error: #eb4d4d;
    --function-success: #5eb92d;
    --function-warning: #ffbf36;
    --function-error-tsp: #eb4d4d14;
    --function-warning-tsp: #ffbf361f;
    --fill-blue: #1a93fe1f;
    --fill-tsp-white-main: #ffffff0f;
    --fill-tsp-white-dark: #ffffff1f;
    --fill-tsp-white-light: #ffffff0a;
    --fill-tsp-gray-dark: #00000047;
    --fill-tsp-gray-main: #00000033;
    --fill-input-chat: #363537;
    --fill-white: #3e3d3e;
    --fill-black: #28282973;
    --Button-primary-black: #fff;
    --Button-primary-white: #ffffff14;
    --Button-primary-brand: #1a93fe;
    --Button-secondary-brand: #1a93fe1f;
    --Button-secondary-error-border: #eb4d4d29;
    --Button-secondary-error-fill: #eb4d4d1f;
    --Button-secondary-main: #ffffff1f;
    --Button-secondary-gray: #ffffff0f;
    --tab-fill: hsla(0,0%,100%,.006);
    --tab-active-black: #fff;
    --shadow-L: #00000066;
    --shadow-M: #0000003d;
    --shadow-S: #00000029;
    --shadow-XS: #0000001f;
    --Tooltips-main: #000000e6;
    --gradual-white-0: #27272800;
    --gradual-gray-100: #444345;
    --gradual-gray-0: #44434500;
    --gradual-dark-20: #ffffff33
}

.dark,:root {
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%
}